## Libraries

In [14]:
import pandas
from pytz import utc
from datetime import datetime

In [15]:
data = pandas.read_csv("reviews.csv", parse_dates=['Timestamp'])

In [16]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [17]:
data["Timestamp"]

0       2021-04-02 06:25:52+00:00
1       2021-04-02 05:12:34+00:00
2       2021-04-02 05:11:03+00:00
3       2021-04-02 03:33:24+00:00
4       2021-04-02 03:31:49+00:00
                   ...
44995   2018-01-01 01:11:26+00:00
44996   2018-01-01 01:09:56+00:00
44997   2018-01-01 01:08:11+00:00
44998   2018-01-01 01:05:26+00:00
44999   2018-01-01 01:01:16+00:00
Name: Timestamp, Length: 45000, dtype: datetime64[ns, UTC]

## Getting the data of the any columns

In [18]:
data[data["Timestamp"] > datetime(2019, 4, 1, tzinfo=utc)]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
28029,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:55:26+00:00,5.0,i learned a lot \nthanks or sharing your knowl...
28030,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:06:44+00:00,5.0,NaN
28031,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:05:59+00:00,5.0,So far so good!
28032,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:02:01+00:00,5.0,NaN
28033,Python for Beginners with Examples,2019-04-01 00:27:39+00:00,3.0,NaN

## Getting the data form coulmns for the specfic time

In [19]:
data[(data['Timestamp'] >= datetime(2018, 4 , 1, tzinfo=utc)) & (data['Timestamp'] <= datetime(2022, 4, 1, tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
41284,Learn GIS in One Hour,2018-04-01 02:52:30+00:00,5.0,NaN
41285,The Python Mega Course: Build 10 Real World Ap...,2018-04-01 02:39:23+00:00,5.0,Simple and easy to understand
41286,Python for Beginners with Examples,2018-04-01 02:07:16+00:00,5.0,Excellent
41287,The Python Mega Course: Build 10 Real World Ap...,2018-04-01 01:55:39+00:00,5.0,Excellent
41288,The Python Mega Course: Build 10 Real World Ap...,2018-04-01 01:09:01+00:00,3.5,NaN

## Turning Data into information

In [20]:
data.head()

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN

In [21]:
data["Course Name"].unique()

array(['The Python Mega Course: Build 10 Real World Applications',
       'The Complete Python Course: Build 10 Professional OOP Apps',
       '100 Python Exercises I: Evaluate and Improve Your Skills',
       'Interactive Data Visualization with Python and Bokeh',
       'Python for Beginners with Examples',
       'Data Processing with Python',
       '100 Python Exercises II: Evaluate and Improve Your Skills',
       'Learn GIS in One Hour'], dtype=object)

## Average Ratings

In [22]:
 data["Rating"].mean()

4.442155555555556

## Average Rating for particular course

In [23]:
data[data['Course Name'] == "The Python Mega Course: Build 10 Real World Applications"]['Rating'].mean()

4.477270180942244

## Average Rating for Particular Period

In [24]:
data[(data['Timestamp'] >= datetime(2018, 4 , 1, tzinfo=utc)) & (data['Timestamp'] <= datetime(2022, 4, 1, tzinfo=utc))
    & (data['Course Name'] == "The Python Mega Course: Build 10 Real World Applications")]['Rating'].mean()

4.478556738446649

## Average of the uncommented Rating

In [38]:
data[data['Comment'].isnull()]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [33]:
data[data['Comment'].isnull()]['Rating'].mean()

4.433679746603492

## Average No of the uncommented Rating

In [43]:
data[data['Comment'].isnull()]['Rating'].count()

38201

## Average of the commented Rating

In [35]:
data[data['Comment'].notnull()]

,Course Name,Timestamp,Rating,Comment
11,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 15:25:18+00:00,5.0,No
19,100 Python Exercises I: Evaluate and Improve Y...,2021-04-01 08:47:42+00:00,4.5,Excellent set of practical problems. Thank you!
22,The Python Mega Course: Build 10 Real World Ap...,2021-04-01 05:47:51+00:00,5.0,Great course.
57,The Python Mega Course: Build 10 Real World Ap...,2021-03-31 08:41:48+00:00,2.0,Coding is awful confusing. Loads of weird stuf...
60,Python for Beginners with Examples,2021-03-31 07:21:59+00:00,5.0,really enjoying it so far
...,...,...,...,...
44957,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 21:35:13+00:00,5.0,i like how thorough it is
44959,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 20:54:55+00:00,4.0,detailed lectures. Easy explanations. useful e...
44964,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 18:57:38+00:00,4.0,Good clear explanations for beginners.
44965,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 18:56:54+00:00,4.0,Presenter is very clear
44980,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 13:55:39+00:00,5.0,"Very good instructor, lots of examples"

In [37]:
data[data['Comment'].notnull()]['Rating'].mean()

4.489777908515959

## Average of the commented Ratings

In [44]:
data[data['Rating'].notnull()]['Rating'].count()

45000

## Number of comment containing the Specific word

In [47]:
data[data['Comment'].str.contains('accent',na=False)]

,Course Name,Timestamp,Rating,Comment
2099,The Complete Python Course: Build 10 Professio...,2021-01-24 19:02:55+00:00,4.5,The course is great but because of the instruc...
3025,The Python Mega Course: Build 10 Real World Ap...,2021-01-01 14:46:21+00:00,2.5,Sometimes it is difficult to understand the in...
3477,The Python Mega Course: Build 10 Real World Ap...,2020-12-18 06:00:42+00:00,4.5,"A little trouble at first with the accent, but..."
3754,The Python Mega Course: Build 10 Real World Ap...,2020-12-08 13:42:00+00:00,5.0,I was looking for some time for the good Pytho...
4690,Learn GIS in One Hour,2020-11-11 17:23:12+00:00,5.0,I am having trouble seeing the video and he is...
...,...,...,...,...
43785,Python for Beginners with Examples,2018-01-26 09:19:40+00:00,4.0,Please find the English review below!\n\nDiese...
44040,The Python Mega Course: Build 10 Real World Ap...,2018-01-20 01:06:54+00:00,5.0,HIGHLY RECOMMEND THIS COURSE! BUT PLEASE READ ...
44471,Learn GIS in One Hour,2018-01-11 11:11:12+00:00,4.5,This is a really nice course for beginners who...
44483,The Python Mega Course: Build 10 Real World Ap...,2018-01-11 05:06:48+00:00,3.0,Speakers accent was a bit difficult for me to ...
44617,The Python Mega Course: Build 10 Real World Ap...,2018-01-08 18:39:34+00:00,5.0,First course that actually covers everything y...

In [51]:
data[data['Comment'].str.contains('accent',na=False)]['Rating'].mean()

3.8636363636363638

In [54]:
data[data['Comment'].str.contains('accent',na=False)]['Rating'].count()

77