## Libraries

In [23]:
import pandas
from pytz import utc
from datetime import datetime

In [28]:
data = pandas.read_csv("reviews.csv", parse_dates=['Timestamp'])

In [17]:
data

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
44995,Python for Beginners with Examples,2018-01-01 01:11:26+00:00,4.0,NaN
44996,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:09:56+00:00,5.0,NaN
44997,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:08:11+00:00,5.0,NaN
44998,Python for Beginners with Examples,2018-01-01 01:05:26+00:00,5.0,NaN
44999,The Python Mega Course: Build 10 Real World Ap...,2018-01-01 01:01:16+00:00,5.0,NaN

In [19]:
data["Timestamp"]

0       2021-04-02 06:25:52+00:00
1       2021-04-02 05:12:34+00:00
2       2021-04-02 05:11:03+00:00
3       2021-04-02 03:33:24+00:00
4       2021-04-02 03:31:49+00:00
                   ...
44995   2018-01-01 01:11:26+00:00
44996   2018-01-01 01:09:56+00:00
44997   2018-01-01 01:08:11+00:00
44998   2018-01-01 01:05:26+00:00
44999   2018-01-01 01:01:16+00:00
Name: Timestamp, Length: 45000, dtype: datetime64[ns, UTC]

## Getting the data of the any columns

In [22]:
data[data["Timestamp"] > datetime(2019, 4, 1, tzinfo=utc)]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
28029,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:55:26+00:00,5.0,i learned a lot \nthanks or sharing your knowl...
28030,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:06:44+00:00,5.0,NaN
28031,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:05:59+00:00,5.0,So far so good!
28032,The Python Mega Course: Build 10 Real World Ap...,2019-04-01 01:02:01+00:00,5.0,NaN
28033,Python for Beginners with Examples,2019-04-01 00:27:39+00:00,3.0,NaN

## Getting the data form coulmns for the specfic time

In [30]:
data[(data['Timestamp'] >= datetime(2018, 4 , 1, tzinfo=utc)) & (data['Timestamp'] <= datetime(2022, 4, 1, tzinfo=utc))]

,Course Name,Timestamp,Rating,Comment
0,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 06:25:52+00:00,4.0,NaN
1,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:12:34+00:00,4.0,NaN
2,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 05:11:03+00:00,4.0,NaN
3,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:33:24+00:00,5.0,NaN
4,The Python Mega Course: Build 10 Real World Ap...,2021-04-02 03:31:49+00:00,4.5,NaN
...,...,...,...,...
41284,Learn GIS in One Hour,2018-04-01 02:52:30+00:00,5.0,NaN
41285,The Python Mega Course: Build 10 Real World Ap...,2018-04-01 02:39:23+00:00,5.0,Simple and easy to understand
41286,Python for Beginners with Examples,2018-04-01 02:07:16+00:00,5.0,Excellent
41287,The Python Mega Course: Build 10 Real World Ap...,2018-04-01 01:55:39+00:00,5.0,Excellent
41288,The Python Mega Course: Build 10 Real World Ap...,2018-04-01 01:09:01+00:00,3.5,NaN

## Turning Data into information